.contact {
  display: flex;
  padding: 1rem;
  margin-bottom: 24px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  /* border-radius: 14px; */
  background-color: white;
  gap: 64px;
  align-items: center;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.info h2 {
  margin-bottom: 8px;
}

.contactbox {
  display: flex;
  gap: 16px;
}

.contact-image {
  width: 200px;
}

.icon {
  width: 24px;
  height: 24px;
  stroke: #53030a;
}
